.header-div{
    position: relative;
    
    h3{
        margin: 44px 0 0 41px;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #222222;
        font-weight: normal;
    }

    .line-break{
        width: 1278px;
        height: 0px;
        margin-left: 30px;
        margin-top: 27px;
        opacity: 0.1;
        border: 1px solid #000000;
    }
}