.App {
  /* width: 1440px;
  height: 899px; */
  background: #FFFFFF;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

::placeholder{
  font-family: Poppins;
  font-size: 12px;
}